.noselect {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 450px) {
  .row {
    flex-wrap: nowrap !important;
  }

  .list-group {
    font-size: 0.8em !important;
  }

  .container {
    padding: 5px !important;
    margin: 0 !important;
  }
}